<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/tbarin">Teresa</a>, a web designer on a mission to learn everything that she can about development in order to bring new ideas to life.
  </p>
  <br />
  <p>
    Teresa's coding experience began eight years ago at a company called Children's Progress in New York City, where she was in charge of mostly creative design projects, but where she also began to learn XML, HTML, and CSS. After years of living as a ski bum in Colorado, Teresa is seeking to return to build upon her previous coding experience through the Firehose Project.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'teresa.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Teresa Barin</h2>
      <br />
      <p>
        Teresa Barin is an artist, designer, and aspiring web developer.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />